html {
    font-size: 10px;
}

.header {
    font-family: 'Great Warrior';
    font-size: clamp(3.5rem, 6vw, 9rem);
}

.form-container {
    font-size: 2.6rem;
    font-weight: bold;
    margin-top: 3.2rem;
}

@media screen and (max-width: 70rem) {
    .form-container  {
        font-size: 2rem;
    }
  }

form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

input {
    background-color: transparent;
    height: 4rem;
    width: 6.5rem;
    background: transparent;
    border: 0.1rem solid var(--inkBlack);
    font-size: 2.4rem;
    font-weight: bold;
    text-align: center;
    border-radius: 1.8rem;
}

input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input:focus {
    outline: none;
    border: 0.1rem solid var(--peachyPink); /* Changes border color */
}

@media (prefers-color-scheme: dark) {
    input:focus {
        outline: none;
        border: 0.1rem solid var(--warmWhite); /* Changes border color */
    }
}